/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/pattern2-bg.jpg");	
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
	
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(231, 227, 216, 1); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px none white;
}


   
#logo {
    /*margin-bottom: 16px;
	border-bottom: 3px solid var(--bbblue);
	padding-bottom: 50px; */
	text-align: center;
	width: 250px;
}

#cardimg {
	margin-bottom: 16px;
	border-bottom: 3px solid var(--bbblue);
	padding-bottom: 10px;
	width: 100px;
	text-align: center;
	}

h1 {
	font-family: adrianna-extended,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
    margin: -20px auto 10px auto;
    color: var(--bbnavy);
	padding-top: 25px;
}

h2 {
	font-family: adrianna-extended,sans-serif;
	font-weight: 600;
	font-style: italic;	
	font-size: 1em;
    line-height: 1.4;
    color: var(--bbblue);
    padding: 0px 0px;
    margin: 20px auto 25px auto;
}

h3 {
	font-family: adrianna,sans-serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 1em;
    line-height: 1.4;
    color: var(--bbblue);
    padding: 0px 0px;
    margin: -10px auto 25px auto;
}

p {
	font-family: adrianna,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
    line-height: 1.6;
    color: var(--bbnavy);
	width: 400px;
	margin: 0px auto 25px auto;
}
    
nav {
	font-family: anisette-std,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	width: 550px;
	margin: 2em auto;
	border: solid var(--bbblue);
	border-width: 3px 0;
	text-align: center;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	padding: 20px 25px;
	color: var(--bbblue);
	text-decoration: none;
}

a:hover {
	color: var(--bbnavy);
	background: var(--bbblue);
}

:root {
	--bbnavy:rgb(40, 45, 70);
	--bbblue: rgb(91, 115, 136);
	--bbpink: rgb(223, 189, 175);
	--bbgold: rgb(185, 144, 40);
	--bbcream: rgb(211, 197, 158);
	--bbcream2: rgb(226, 220, 204);
}

* {
	box-sizing: border-box;

  }

  body {
	font-family: adrianna,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	color: var(--bbnavy);
	text-align: center;
  }
  
  /* Float four columns side by side */
  .column {
	float: left;
	width: 50%;
	padding: 0 10px;
	padding-bottom: 20px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .break {
	border-top: 3px solid var(--bbblue);
	margin: 2em auto;

  }

  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 10px;
	text-align: center;
	background-color: rgb(248, 247, 243);
  /* Style the counter cards */

  }

  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	} 

/*Colors
Dark Blue 40, 45, 70
Light Blue 91, 115, 136
Pink 223, 189, 175
Gold 185, 144, 40
Cream 211 197, 158
*/